body {
  width: 100%;
  height: 100%;
  margin: 0;
  
}
h1{ text-align: center;}
.link-container{
  display:flex;
  justify-content: center;
  align-items: center;}
  
  #featured-property, #details {
    width: 1000px; /* or any other specific width */
    margin: auto; /* Centers the element */
   }
   figcaption{text-align: center;}
   #details {
    display: flex; 
    justify-content: space-between;
   }
   p{text-align: center;}
   #details div {
    background-color: red;
    padding: 10; 
    flex: 1 
   }
   
   #details h3 {
    text-align: center;
    color: black); 
   }
   
   #details a {
    color: blue; 
   }
   